<div class="animated fadeIn mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Publicidad
            <button class="btn btn-primary" (click)="open(content)" #nuevo>
              Nuevo
            </button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <label for="">Buscar:</label>
                <input type="text" class="form-control" (keyup)="onKeyPress($event)" [(ngModel)]="search">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table
                  cdk-table
                  [dataSource]="dataOnPage$"
                  class="table table-responsive table-striped"
                >
                  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                  <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                  <ng-container cdkColumnDef="ver">
                    <th cdk-header-cell *cdkHeaderCellDef>Ver</th>
                    <td cdk-cell *cdkCellDef="let row">
                      <button
                        class="btn btn-primary"
                        (click)="productos(list, row)"
                      >
                        Productos
                      </button>
                    </td>
                  </ng-container>
                  <!-- <ng-container cdkColumnDef="id">
                    <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                  </ng-container> -->
                  <ng-container cdkColumnDef="nombre">
                    <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="linkImagen">
                    <th cdk-header-cell *cdkHeaderCellDef>Imagen</th>
                    <td cdk-cell *cdkCellDef="let row">
                      <img *ngIf="row.linkImagen !== null" [src]="row.linkImagen" style="max-width: 168px;" alt="">
                    </td>
                  </ng-container>
                  <ng-container cdkColumnDef="orden">
                    <th cdk-header-cell *cdkHeaderCellDef>Orden</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.orden }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="created_at">
                    <th cdk-header-cell *cdkHeaderCellDef>Creado</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.created_at }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="updated_at">
                    <th cdk-header-cell *cdkHeaderCellDef>Modificado</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.updated_at }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="opciones">
                    <th cdk-header-cell *cdkHeaderCellDef></th>
                    <td cdk-cell *cdkCellDef="let row">
                      <button
                        class="btn btn-warning"
                        (click)="editData(content, row)"
                      >
                        Editar
                      </button>
                      <button
                        class="btn btn-danger"
                        (click)="deleteData(content, row)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </ng-container>
                </table>
                <ngb-pagination
                  [collectionSize]="(dataSource$ | async)?.length"
                  [pageSize]="pageSize"
                  [page]="currentPage$.value"
                  (pageChange)="currentPage$.next($event)"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <form #publicidadForm="ngForm" (ngSubmit)="onSubmit(publicidadForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Publicidad</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="id"
          #id="ngModel"
          [(ngModel)]="publicidad.id"
        />
        <div class="row">
          <div class="col-md-6">
            <label for="">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="publicidad.nombre"
              placeholder="Escriba los nombres del publicidad"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="">Orden</label>
            <input
              type="text"
              class="form-control"
              name="orden"
              #orden="ngModel"
              [(ngModel)]="publicidad.orden"
              placeholder="Escriba numero de la orden"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div
              class="dropzone"
              dropZone
              (hovered)="toggleHover($event)"
              (dropped)="startUpload($event)"
              [class.hovering]="isHovering"
            >
              <h3>Subir imagen del producto</h3>

              <div class="file">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    (change)="startUpload($event.target.files)"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      or choose a file…
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <div *ngIf="percentage | async as pct">
              <progress class="progress is-info" [value]="pct" max="100" style="width: 100%;">
              </progress>
              {{ pct | number }}%
            </div>
          </div>
          <div class="col-md-6">
            <div *ngIf="snapshot | async as snap">
              {{ snap.bytesTransferred | fileSize }} of
              {{ snap.totalBytes | fileSize }}

              <div *ngIf="downloadURL | async as url">
                <img [src]="url" style="max-width: 335px;" /><br />
                <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
              </div>

              <button
                (click)="task.pause()"
                class="button is-warning"
                [disabled]="!isActive(snap)"
              >
                Pause
              </button>
              <button
                (click)="task.cancel()"
                class="button is-danger"
                [disabled]="!isActive(snap)"
              >
                Cancel
              </button>
              <button
                (click)="task.resume()"
                class="button is-info"
                [disabled]="!(snap?.state === 'paused')"
              >
                Resume
              </button>
            </div>
            <div *ngIf="!snapshot">
              <div *ngIf="downloadURL | async as url">
                <img [src]="url" style="max-width: 335px;"/><br />
                <a [href]="url" target="_blank" rel="noopener">Descargar</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h3>Seleccione los productos</h3>
        <div class="row">
            <div class="col-md-12">
                <table
                cdk-table
                [dataSource]="pDataOnPage$"
                class="table table-striped"
                style="max-width: 100%;"
              >
                <tr cdk-header-row *cdkHeaderRowDef="pColumns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: pColumns"></tr>
                <ng-container cdkColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                </ng-container>
                <ng-container cdkColumnDef="nombre">
                  <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
                </ng-container>
                <!-- <ng-container cdkColumnDef="categoria_id">
                  <th cdk-header-cell *cdkHeaderCellDef>categoria</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.categoria_id }}</td>
                </ng-container> -->
                <ng-container cdkColumnDef="precio">
                  <th cdk-header-cell *cdkHeaderCellDef>Precio</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.precio | currency}}</td>
                </ng-container>
                <ng-container cdkColumnDef="disponible">
                    <th cdk-header-cell *cdkHeaderCellDef>Disponible</th>
                    <td cdk-cell *cdkCellDef="let row">{{ (row.disponible) ? 'Si' : 'No' }}</td>
                  </ng-container>
                <ng-container cdkColumnDef="opciones">
                  <th cdk-header-cell *cdkHeaderCellDef>Escoger</th>
                  <td cdk-cell *cdkCellDef="let row">
                    <input type="checkbox" [value]="row.id" (click)="seleccionar(row.id)" [checked]="isInDetalle(row.id)">
                  </td>
                </ng-container>
              </table>
              <ngb-pagination
                [collectionSize]="(pDataSource$ | async)?.length"
                [pageSize]="pageSize"
                [page]="pCurrentPage$.value"
                (pageChange)="pCurrentPage$.next($event)"
              ></ngb-pagination>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Guardar</button>
          <button class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
      </div>
    </form>
  </ng-template>

  <ng-template #list let-modal>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalle</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table
          cdk-table
          [dataSource]="pDataOnPage$"
          class="table table-striped"
          style="max-width: 100%;"
        >
          <tr cdk-header-row *cdkHeaderRowDef="pDColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: pDColumns"></tr>
          <ng-container cdkColumnDef="id">
            <th cdk-header-cell *cdkHeaderCellDef>ID</th>
            <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container cdkColumnDef="nombre">
            <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
            <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
          </ng-container>
          <!-- <ng-container cdkColumnDef="categoria_id">
            <th cdk-header-cell *cdkHeaderCellDef>categoria</th>
            <td cdk-cell *cdkCellDef="let row">{{ ((categoriasList|async) | observableFilter:row.categoria_id).nombre }}</td>
          </ng-container> -->
          <ng-container cdkColumnDef="disponible">
              <th cdk-header-cell *cdkHeaderCellDef>Disponible</th>
              <td cdk-cell *cdkCellDef="let row">{{ (row.disponible) ? 'Si' : 'No' }}</td>
            </ng-container>
          <ng-container cdkColumnDef="precio">
            <th cdk-header-cell *cdkHeaderCellDef>Precio</th>
            <td cdk-cell *cdkCellDef="let row">{{ row.precio | currency }}</td>
          </ng-container>
        </table>
        <ngb-pagination
          [collectionSize]="(pDataSource$ | async)?.length"
          [pageSize]="pageSize"
          [page]="pCurrentPage$.value"
          (pageChange)="pCurrentPage$.next($event)"
        ></ngb-pagination>
      </div>
  </ng-template>
