<div class="animated fadeIn mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Roles
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table
                cdk-table
                [dataSource]="dataOnPage$"
                class="table table-responsive table-striped"
              >
                <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                <!-- <ng-container cdkColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                </ng-container> -->
                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                  <td cdk-cell *cdkCellDef="let row">
                    <ng-container *ngIf="row.name === 'admin'">
                      Administrador
                    </ng-container>
                    <ng-container *ngIf="row.name === 'adminEstablecimiento'">
                      Administrador de Establecimiento
                    </ng-container>
                    <ng-container *ngIf="row.name === 'repartidor'">
                      Repartidor
                    </ng-container>
                    <ng-container *ngIf="row.name === 'secretarioEstablecimiento'">
                      Secretario de Establecimiento
                    </ng-container>
                    <ng-container *ngIf="row.name === 'secretarioGlobal'">
                      Secretario de Administrador
                    </ng-container>
                    

                  </td>
                </ng-container>
              </table>
              <ngb-pagination
                [collectionSize]="(dataSource$ | async)?.length"
                [pageSize]="pageSize"
                [page]="currentPage$.value"
                (pageChange)="currentPage$.next($event)"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


