<div class="animated fadeIn mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Usuarios
          <button class="btn btn-outline-primary" (click)="open(content)" #nuevo>
            Nuevo
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table
                cdk-table
                [dataSource]="dataOnPage$"
                class="table table-responsive table-striped"
              >
                <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                <!-- <ng-container cdkColumnDef="id">
                    <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                  </ng-container> -->
                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell *cdkHeaderCellDef>Nombres</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.name }}</td>
                </ng-container>
                <ng-container cdkColumnDef="email">
                  <th cdk-header-cell *cdkHeaderCellDef>Email</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.email }}</td>
                </ng-container>
                <ng-container cdkColumnDef="telefono">
                  <th cdk-header-cell *cdkHeaderCellDef>Telefono</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.telefono }}</td>
                </ng-container>
                <ng-container cdkColumnDef="direccion">
                  <th cdk-header-cell *cdkHeaderCellDef>Direccion</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.direccion }}</td>
                </ng-container>
                <ng-container cdkColumnDef="establecimiento_id">
                    <th cdk-header-cell *cdkHeaderCellDef>Establecimiento</th>
                    <td cdk-cell *cdkCellDef="let row"  >
                      <div *ngIf="showPronto(row)">
                          Pronto
                      </div>
                      <div *ngIf="functionFilter(row)">
                          {{ ((establecimientosList|async) | observableFilter:row.establecimiento_id).nombre }}
                      </div>
                      
                    </td>
                    <!-- <td cdk-cell *cdkCellDef="let row" >
                      
                  </td> -->
                  </ng-container>
                  <ng-container cdkColumnDef="roles">

                  <th cdk-header-cell *cdkHeaderCellDef>Cargo</th>
                  <td cdk-cell *cdkCellDef="let row">
                    <ng-container *ngFor="let el of row.roles">
                        <p *ngIf="el.name == 'admin'" >Administrador</p>
                        <p *ngIf="el.name == 'adminEstablecimiento'">Administrador de Establecimiento</p>
                        <p *ngIf="el.name == 'repartidor'">Repartidor</p>
                        <p *ngIf="el.name == 'secretarioEstablecimiento'">Secretario de Establecimiento</p>
                        <p *ngIf="el.name == 'secretarioGlobal'">Secretario de Administrador</p>

                    </ng-container>
                    
                  </td>
                </ng-container>
                <ng-container cdkColumnDef="opciones">
                  <th cdk-header-cell *cdkHeaderCellDef></th>
                  <td cdk-cell *cdkCellDef="let row">
                      <ng-container *ngFor="let el of row.roles">
                          <button
                          class="btn btn-warning"
                          (click)="editData(content, row)"
                          *ngIf="el.name != 'admin'"
                        >
                          Editar
                        </button>
                        <button
                          class="btn btn-danger"
                          (click)="deleteData(content, row)"
                          *ngIf="el.name != 'admin'"
                        >
                          Eliminar
                        </button>
                      </ng-container>
                      
                  </td>
                </ng-container>
              </table>

              <ngb-pagination
                [collectionSize]="(dataSource$ | async)?.length"
                [pageSize]="pageSize"
                [page]="currentPage$.value"
                (pageChange)="currentPage$.next($event)"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Usuario</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input
        type="hidden"
        name="id"
        #id="ngModel"
        [(ngModel)]="usuario.id"
      />
      <div class="row">
        <div class="col-md-6">
          <label for="">Nombres</label>
          <input
            type="text"
            class="form-control"
            name="name"
            #name="ngModel"
            [(ngModel)]="usuario.name"
            placeholder="Escriba los nombres del usuario"
          />
          <label for="">Telefono</label>
          <input
            type="text"
            class="form-control"
            name="telefono"
            #telefono="ngModel"
            [(ngModel)]="usuario.telefono"
            placeholder="Escriba el telefono del usuario"
          />
          <label for="">Email</label>
          <input
            type="mail"
            class="form-control"
            name="email"
            #email="ngModel"
            [(ngModel)]="usuario.email"
            placeholder="Escriba el email del usuario"
          />
          <label for="" *ngIf="usuario.roles[0].name == 'adminEstablecimiento' || usuario.roles[0].name == 'secretarioEstablecimiento'">Establecimiento</label>
          <select *ngIf="usuario.roles[0].name == 'adminEstablecimiento' || usuario.roles[0].name == 'secretarioEstablecimiento'" class="form-control" name="establecimiento_id"  #establecimiento_id="ngModel" [(ngModel)]="usuario.establecimiento_id">
              <option *ngFor="let est of (establecimientosList | async)" [value]="est.id">
              {{ est.nombre }}
              </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="">Contraseña</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="usuario.password"
            placeholder="Escriba la contraseña del usuario"
          />
          <label for="">Direccion</label>
          <input
            type="text"
            class="form-control"
            name="direccion"
            #direccion="ngModel"
            [(ngModel)]="usuario.direccion"
            placeholder="Escriba la direccion del usuario"
          />
          <label for="">Rol</label>
          <select class="form-control" name="role_name"  #role_name="ngModel" [(ngModel)]="usuario.roles[0].name">
              <ng-container *ngFor="let role of (rolesList | async)">
                <option  *ngIf="role.name == 'adminEstablecimiento'" [value]="role.name">
                Administrador de Establecimiento
                </option>
                <option  *ngIf="role.name == 'repartidor'" [value]="role.name">
                Repartidor
                </option>
                <option  *ngIf="role.name == 'secretarioEstablecimiento'" [value]="role.name">
               Secretario de Establecimiento
                </option>
                <option  *ngIf="role.name == 'secretarioGlobal'" [value]="role.name">
                Secretario de Administrador
                </option>
                  
              </ng-container>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="usuario.roles[0].name == 'repartidor'">
        <div class="col-md-6">
          <div
            class="dropzone"
            dropZone
            (hovered)="toggleHover($event)"
            (dropped)="startUpload($event)"
            [class.hovering]="isHovering"
          >
            <h3>Subir imagen de repartidor</h3>

            <div class="file">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  (change)="startUpload($event.target.files)"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    o elegir archivo
                  </span>
                </span>
              </label>
            </div>
          </div>

          <div *ngIf="percentage | async as pct">
            <progress class="progress is-info" [value]="pct" max="100" style="width: 100%;">
            </progress>
            {{ pct | number }}%
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="snapshot | async as snap">
            {{ snap.bytesTransferred | fileSize }} of
            {{ snap.totalBytes | fileSize }}

            <div *ngIf="downloadURL | async as url">
              <img [src]="url" style="max-width: 100%;"/><br />
              <a [href]="url" target="_blank" rel="noopener">Descargar</a>
            </div>

            <button
              (click)="task.pause()"
              class="button is-warning"
              [disabled]="!isActive(snap)"
            >
              Pausar
            </button>
            <button
              (click)="task.cancel()"
              class="button is-danger"
              [disabled]="!isActive(snap)"
            >
              Cancelar
            </button>
            <button
              (click)="task.resume()"
              class="button is-info"
              [disabled]="!(snap?.state === 'paused')"
            >
              Renaudar
            </button>
          </div>
          <div *ngIf="!snapshot">

            <div *ngIf="downloadURL | async as url">
              <img [src]="url" style="max-width: 100%;"/><br />
              <a [href]="url" target="_blank" rel="noopener">Descargar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">Guardar</button>
        <button class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
    </div>
  </form>
</ng-template>
