<ngb-tabset *ngIf="(role | async) == 'adminEstablecimiento' || (role | async) == 'secretarioEstablecimiento'">
  <ngb-tab title="Procesando">
    <ng-template ngbTabContent>
      <div class="row" >

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              Confirmados
            </div>
            <div class="card-body">
              <div class="container" >
                <ng-container *ngFor='let item of dataOnPage$ | async'>
                  <div class="card proceso-card" *ngIf='item.estado == "DRCA"'>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
        
                          <table class="table table-hover">
                            <tr>
                              <td class="row-min">Orden</td>
                              <td class="row-min" align="center" colspan="3">
                                  <p >{{ item.codigo }}</p>
                                  
                              </td>
                            </tr>
                          </table>
                          <accordion>
                            <group title="Productos">
                              <table class="table table-hover">
                                <tr>
                                  <td>Artículo/Producto</td>
                                  <td>Precio</td>
                                  <td>Cantidad</td>
                                  <td>Total</td>
                                </tr>
                                <tr *ngFor="let prod of item.products">
                                  <td>{{ prod.product.nombre }}</td>
                                  <td>{{ prod.product.precio }}</td>
                                  <td>{{prod.cant}}</td>
                                  <td>{{ prod.product.precio * prod.cant }}</td>
                                </tr>
                              </table>
                            </group>
                            
                          </accordion>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              Pendientes
            </div>
            <div class="card-body">
              <ng-container *ngFor='let item of dataOnPage2$ | async'>
                <div class="card pendientes-card" *ngIf='item.estado == "procesando"'>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
        
                        <table class="table table-hover">
                          <tr>
                            <td class="row-min">Orden</td>
                            <td class="row-min" align="center" colspan="3">
                                <p >{{ item.codigo }}</p>
                                
                            </td>
                          </tr>
                        </table>
                        
                        <table class="table table-hover">
                          <tr >
                            <td class="row-min">
                              <button class="btn btn-primary" (click)="selectTime(20,item.orden_id)">20 min</button>
                            </td>
                            <td class="row-min">
                              <button class="btn btn-primary" (click)="selectTime(30,item.orden_id)">30 min</button>
                            </td>
                          </tr>
                          
                          <tr>
                            <td class="row-min">
                              <button class="btn btn-primary" (click)="selectTime(5,item.orden_id)">5 min</button>
                            </td>
                            <td class="row-min">
                              <button class="btn btn-primary" (click)="selectTime(10,item.orden_id)">10 min</button>
                            </td>
                          </tr>
                        </table>
                        <accordion>
                          <group title="Productos">
                            <table class="table table-hover">
                              <tr>
                                <td>Artículo/Producto</td>
                                <td>Descripción</td>
                                <td>Precio</td>
                                <td>Cantidad</td>
                                <td>Total</td>
                              </tr>
                              <tr *ngFor="let prod of item.products">
                                <td>{{ prod.product.nombre }}</td>
                                <td>{{ prod.product.descripcion }}</td>
                                <td>{{ prod.product.precio }}</td>
                                <td>{{prod.cant}}</td>
                                <td>{{ prod.product.precio * prod.cant }}</td>
                              </tr>
                            </table>
                          </group>
                          
                        </accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
      
            </div>
          </div>
        </div>
        
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Entregados">
    <ng-template ngbTabContent>
      <div class="row" >
        <div class="container" >
          <ng-container *ngFor='let item of dataOnPage3$ | async'>
            <div class="card" *ngIf='item.estado == "completo"'>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
    
                    <table class="table table-hover">
                      <tr>
                        <td class="row-min">Orden</td>
                        <td class="row-min" align="center" colspan="3">
                            <p >{{ item.codigo }}</p>
                            
                        </td>
                      </tr>
                    </table>
                    <accordion>
                      <group title="Productos">
                        <table class="table table-hover">
                          <tr>
                            <td>Artículo/Producto</td>
                            <td>Descripción</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td>Total</td>
                          </tr>
                          <tr *ngFor="let prod of item.products">
                              <td>{{ prod.product.nombre }}</td>
                              <td>{{ prod.product.descripcion }}</td>
                              <td>{{ prod.product.precio | currency}}</td>
                              <td>{{prod.cant}}</td>
                              <td>{{ prod.product.precio * prod.cant | currency }}</td>
                          </tr>
                        </table>
                      </group>
                      
                    </accordion>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ngb-pagination
                  [collectionSize]="dataSource3$"
                  [pageSize]="pageSize2"
                  [page]="currentPage4$.value"
                  (pageChange)="currentPage4$.next($event)"
                ></ngb-pagination>
        </div>
      </div>
    </ng-template>
    
  </ngb-tab>
  <ngb-tab title="Cancelados">
    <ng-template ngbTabContent>
      <div class="row" >
        <div class="container" >
          <ng-container *ngFor='let item of dataOnPage4$ | async'>
            <div class="card" *ngIf='item.estado == "cancelado"'>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
    
                    <table class="table table-hover">
                      <tr>
                        <td class="row-min">Orden</td>
                        <td class="row-min" align="center" colspan="3">
                            <p >{{ item.codigo }}</p>
                            
                        </td>
                      </tr>
                    </table>
                    <accordion>
                      <group title="Productos">
                        <table class="table table-hover">
                          <tr>
                            <td>Artículo/Producto</td>
                            <td>Descripción</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td>Total</td>
                          </tr>
                          <tr *ngFor="let prod of item.products">
                              <td>{{ prod.product.nombre }}</td>
                              <td>{{ prod.product.descripcion }}</td>
                              <td>{{ prod.product.precio | currency}}</td>
                              <td>{{prod.cant}}</td>
                              <td>{{ prod.product.precio * prod.cant | currency }}</td>
                          </tr>
                        </table>
                      </group>
                      
                    </accordion>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ngb-pagination
                  [collectionSize]="dataSource2$"
                  [pageSize]="pageSize2"
                  [page]="currentPage5$.value"
                  (pageChange)="currentPage5$.next($event)"
                ></ngb-pagination>
        </div>
      </div>
    </ng-template>
    
  </ngb-tab>
</ngb-tabset>

<!-- Administrador -->
<ngb-tabset *ngIf="(role | async) == 'admin' || (role | async) == 'secretarioGlobal'">
  <ngb-tab title="Procesando">
    <ng-template ngbTabContent>
      <div class="row" >

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              En proceso
            </div>
            <div class="card-body">
              <div class="container" >
                <ng-container *ngFor='let item of dataOnPage$ | async'>
            
                  <div class="card proceso-card" *ngIf='item.estate == "DR" || item.estate == "DRCA" || item.estate == "DA"'>
                    <div class="card-body">
                      <div class="col-md-12">
      
                        <table class="table table-hover">
                          <tr>
                            <td class="row-min">
                               
                              <p >Orden: {{ item.orden_codigo }}</p>
                            </td>
                            <td class="row-min">
                              <p >Cantidad de productos: {{ item.cant }}</p>
                            </td>
                          </tr>
                          <tr>
                            <td >
                            
                              <p >Subtotal Orden: {{ item.subtotal|currency }}</p>
                            </td>
                            <td >
                              <p >Delivery: {{ item.costo_delivery|currency }}</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="row-min">
                                <p >Total: {{ item.total|currency }}</p>
                            </td>
                          </tr>
                        </table>
                        
                        <accordion>
                            <group title="Detalle de pedido">
                              <table class="table table-hover">

                                <tr>
                                  <td >
                                    <p >Tiempo preparación total: {{ item.tiempoEstabs }} min.</p>
                                  </td>
                                  <td >
                                    <p >Tiempo Delivery: {{ item.tiempoDel }} min.</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="row-min">
                                    <p >Total Tiempo Entrega: {{ item.tiempo }} min.</p>
                                  </td>
                                </tr>
                                
                                <tr>
                                  <td>
                                    <p >Cliente: {{ item.user.name }}</p>
                                  </td>
                                  <td >
                                    <p >Teléfono: {{ item.user.telefono }}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="row-min">
                                    <p >E-mail: {{ item.user.email }}</p>
                                  </td>
                                </tr>
                                
                                
                                <tr>
                                  <td >
                                    
                                    <p >Repartidor: {{ item.repartidor.name }}</p>
                                  </td>
                                  <td >
                                    
                                    <p >Teléfono: {{ item.repartidor.telefono }}</p>
                                  </td>
                                  
                                </tr>
                              </table>
                              <h6>Establecimientos</h6>
                              <accordion *ngFor='let peds of item.pedidos'>
                                <group title="{{peds.establecimiento}}">
                                  <table class="table table-hover">
                                    <tr>
                                      <td class="row-min">
                                        <p >Tiempo preparación: {{ peds.tiempo }} min.</p>
                                      </td>
                                      <td class="row-min">
                                        <p >Subtotal pedido: {{ peds.total|currency }}</p>
                                      </td>
                                    </tr>
                                  </table>
                                  <accordion >
                                    <group title="Productos">
                                      <table class="table table-hover">
                                        <tr>
                                          <td>Artículo/Producto</td>
                                          <td>Descripción</td>
                                          <td>Precio</td>
                                          <td>Cantidad</td>
                                          <td>Subtotal</td>
                                        </tr>
                                        <tr *ngFor='let prod of peds.productos'>
                                          <td>{{ prod.nombre }}</td>
                                          <td>{{ prod.descripcion }}</td>
                                          <td>{{ prod.precio }}</td>
                                          <td>{{prod.cant}}</td>
                                          <td>{{ prod.precio * prod.cant | currency }}</td>
                                        </tr>
                                      </table>
                                    </group>
                                  </accordion>
      
                                </group>
                              </accordion>
                            </group>
                            
                          </accordion>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              Pendientes
            </div>
            <div class="card-body">
              <ng-container *ngFor='let item of dataOnPage2$ | async '>
            
                <div class="card pendientes-card" *ngIf='item.estate == "TS"  || (item.repartidor == null && item.estate == "DR")'>
                  <div class="card-body">
                    <div class="col-md-12">
    
                      <table class="table table-hover" *ngIf='item.estate == "DR"'>
                        <tr>
                          <td class="row-min">
                              
                            <p >Orden: {{ item.orden_codigo }}</p>
                          </td>
                          <td class="row-min">
                            <p >Cantidad de productos: {{ item.cant }}</p>
                          </td>                      
                        </tr>
                        <tr>
                          <td class="row-min">
                          
                            <p >Subtotal Orden: {{ item.subtotal|currency }}</p>
                          </td>
                          <td class="row-min">
                            <p >Tiempo preparación total: {{ item.tiempoEstabs }} min.</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="row-min">
                            <p >Delivery: {{ item.costo_delivery|currency }}</p>
                          </td>
                          <td class="row-min">
                              <p >Tiempo Delivery: {{ item.tiempoDel }} min.</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="row-min">
                              <p >Total: {{ item.total|currency }}</p>
                          </td>
                          <td class="row-min">
                              <p >Total Tiempo Entrega: {{ item.tiempo }} min.</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p >Nombre: {{ item.user.name }}</p>
                          </td>
                          <td >
                            <p >Teléfono: {{ item.user.telefono }}</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="row-min">
                            <p >E-mail: {{ item.user.email }}</p>
                          </td>
                        </tr>
                      </table>
    
                      <table class="table table-hover" *ngIf='item.estate == "TS"'>
                        <tr>
                          <td class="row-min">
                             
                            <p >Orden: {{ item.orden_codigo }}</p>
                          </td>
                          <td class="row-min">
                            
                            <p >Subtotal Orden: {{ item.total|currency }}</p>
                          </td>
                          
                        </tr>
                        <tr>
                          <td class="row-min">
                            <p >Cantidad de productos: {{ item.cant }}</p>
                          </td>
                          <td class="row-min">
                            <p >Tiempo preparación total: {{ item.tiempoEstabs }} min.</p>
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            <p >Nombre: {{ item.user.name }}</p>
                          </td>
                          <td >
                            <p >Teléfono: {{ item.user.telefono }}</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="row-min">
                            <p >E-mail: {{ item.user.email }}</p>
                          </td>
                          <td class="row-min">
                            <button class="btn btn-outline-primary" (click)="open(content,item)" #nuevo>
                              Ver mapa
                            </button>
                          </td>
                        </tr>
                      </table>
                      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm,item.orden_id)" *ngIf='item.estate == "TS"'>
                      <table>
                        <tr>
                          
                            <td class="row-min">
                              <label for="">Tiempo:</label>
                              <input type="number" class="form-control"  name="time" ngModel required>
                            </td>
                            <td class="row-min">
                              <label for="">Costo Delivery:</label>
                              <input type="number" class="form-control"  name="delPrice" ngModel required>
                            </td>
                            <td class="row-min">
                              <label for="orders">Repartidores disponibles:</label>
                              <select class="form-control" name="delRep" ngModel required>
                                <option value="">Seleccionar...</option>
                                <ng-container *ngFor='let item of dataOnPageRepartidores$ | async'>
                                  <option value={{item.user.id}}>
                                    {{item.user.name}} - Pedidos: {{item.count}}
                                  </option>
                                </ng-container>
                                
                              </select>
                            </td>
                            <td class="row-min" style="vertical-align: bottom;">
                              <button [disabled]="myForm.invalid" class="btn btn-primary" type="submit">Aceptar</button>
                              
                              <!-- <input type="button" style="float:none!important;display:inline;" value="click" /> -->
                            </td>
                          
                        </tr>
                      </table>
                    </form>
                    <form #myForm="ngForm" (ngSubmit)="setRepartidor(myForm,item.orden_id)" *ngIf='item.estate == "DR"'>
                        <table>
                          <tr>
                              <td class="row-min">
                                <label for="orders">Repartidores disponibles:</label>
                                <select class="form-control" name="delRep" ngModel required>
                                  <option value="">Seleccionar...</option>
                                  <ng-container *ngFor='let item of dataOnPageRepartidores$ | async'>
                                    <option value={{item.user.id}}>
                                      {{item.user.name}} - Pedidos: {{item.count}}
                                    </option>
                                  </ng-container>
                                  
                                </select>
                              </td>
                              <td class="row-min" style="vertical-align: bottom;">
                                <button [disabled]="myForm.invalid" class="btn btn-primary" type="submit">Aceptar</button>
                              </td>
                            
                          </tr>
                        </table>
                      </form>
                      <accordion>
                          <group title="Pedidos">
                            <accordion *ngFor='let peds of item.pedidos'>
                              <group title="{{peds.establecimiento}}">
                                <table class="table table-hover">
                                  <tr>
                                    <td class="row-min">
                                      <p >Tiempo preparación: {{ peds.tiempo }} min.</p>
                                    </td>
                                    <td class="row-min">
                                      <p >Subtotal pedido: {{ peds.total|currency }}</p>
                                    </td>
                                  </tr>
                                </table>
                                <accordion >
                                  <group title="Productos">
                                    <table class="table table-hover">
                                      <tr>
                                        <td>Artículo/Producto</td>
                                        <td>Descripción</td>
                                        <td>Precio</td>
                                        <td>Cantidad</td>
                                        <td>Subtotal</td>
                                      </tr>
                                      <tr *ngFor='let prod of peds.productos'>
                                        <td>{{ prod.nombre }}</td>
                                        <td>{{ prod.descripcion }}</td>
                                        <td>{{ prod.precio }}</td>
                                        <td>{{prod.cant}}</td>
                                        <td>{{ prod.precio * prod.cant | currency }}</td>
                                      </tr>
                                    </table>
                                  </group>
                                </accordion>
    
                              </group>
                            </accordion>
                          </group>
                          
                        </accordion>
                    </div>
                  </div>
                </div>
              </ng-container>
      
            </div>
          </div>
        </div>
        
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Entregados">
    <ng-template ngbTabContent>
      <div class="row" >
        <div class="container" >
          <ng-container *ngFor='let item of dataOnPage3$ | async'>
            <div class="card" *ngIf='(item.estate == "completo")'>
              <div class="card-body">
                <div class="col-md-12">
    
                  <table class="table table-hover">
                    <tr>
                      <td class="row-min">
                         
                        <p >Orden: {{ item.orden_codigo }}</p>
                      </td>
                      <td class="row-min">
                        <p >Cantidad de productos: {{ item.cant }}</p>
                      </td>
                      <td class="row-min">
                        
                        <p >Repartidor: {{ item.repartidor.name }}</p>
                      </td>
                      
                    </tr>
                    <tr>
                      <td class="row-min">
                      
                        <p >Subtotal Orden: {{ item.subtotal|currency }}</p>
                      </td>
                      <td class="row-min">
                        <p >Preparación: {{ item.tiempoEstabs }} min.</p>
                      </td>
                      <td class="row-min">
                        
                        <p >Teléfono: {{ item.repartidor.telefono }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                        <p >Delivery: {{ item.costo_delivery|currency }}</p>
                      </td>
                      <td class="row-min">
                          <p >Tiempo Delivery: {{ item.tiempoDel }} min.</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                          <p >Total: {{ item.total|currency }}</p>
                      </td>
                      <td class="row-min">
                          <p >Tiempo Entrega: {{ item.tiempo }} min.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p >Nombre: {{ item.user.name }}</p>
                      </td>
                      <td >
                        <p >Teléfono: {{ item.user.telefono }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                        <p >E-mail: {{ item.user.email }}</p>
                      </td>
                    </tr>
                  </table>
                  <accordion>
                      <group title="Pedidos">
                        <accordion *ngFor='let peds of item.pedidos'>
                          <group title="{{peds.establecimiento}}">
                            <table class="table table-hover">
                              <tr>
                                <td class="row-min">
                                  <p >Tiempo preparación: {{ peds.tiempo }} min.</p>
                                </td>
                                <td class="row-min">
                                  <p >Subtotal pedido: {{ peds.total|currency }}</p>
                                </td>
                              </tr>
                            </table>
                            <accordion >
                              <group title="Productos">
                                <table class="table table-hover">
                                  <tr>
                                    <td>Artículo/Producto</td>
                                    <td>Descripción</td>
                                    <td>Precio</td>
                                    <td>Cantidad</td>
                                    <td>Subtotal</td>
                                  </tr>
                                  <tr *ngFor='let prod of peds.productos'>
                                    <td>{{ prod.nombre }}</td>
                                    <td>{{ prod.descripcion }}</td>
                                    <td>{{ prod.precio }}</td>
                                    <td>{{prod.cant}}</td>
                                    <td>{{ prod.precio * prod.cant | currency }}</td>
                                  </tr>
                                </table>
                              </group>
                            </accordion>
    
                          </group>
                        </accordion>
                      </group>
                      
                    </accordion>
                </div>
              </div>
            </div>
          </ng-container>
          <ngb-pagination
                  [collectionSize]="dataSource3$"
                  [pageSize]="pageSize2"
                  [page]="currentPage4$.value"
                  (pageChange)="currentPage4$.next($event)"
                ></ngb-pagination>
        </div>
      </div>
    </ng-template>

    
  </ngb-tab>
  <ngb-tab title="Cancelados">
    <ng-template ngbTabContent>
      <div class="row" >
        <div class="container" >
          <ng-container *ngFor='let item of dataOnPage4$ | async'>
            <div class="card" *ngIf='item.estate == "cancelado"'>
              <div class="card-body">
                <div class="col-md-12">
    
                  <table class="table table-hover">
                    <tr>
                      <td class="row-min">
                         
                        <p >Orden: {{ item.orden_codigo }}</p>
                      </td>
                      <td class="row-min">
                        <p >Cantidad de productos: {{ item.cant }}</p>
                      </td>
                      <td class="row-min">
                        
                        <p >Repartidor: {{ item.repartidor.name }}</p>
                      </td>
                      
                    </tr>
                    <tr>
                      <td class="row-min">
                      
                        <p >Subtotal Orden: {{ item.subtotal|currency }}</p>
                      </td>
                      <td class="row-min">
                        <p >Preparación: {{ item.tiempoEstabs }} min.</p>
                      </td>
                      <td class="row-min">
                        
                        <p >Teléfono: {{ item.repartidor.telefono }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                        <p >Delivery: {{ item.costo_delivery|currency }}</p>
                      </td>
                      <td class="row-min">
                          <p >Tiempo Delivery: {{ item.tiempoDel }} min.</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                          <p >Total: {{ item.total|currency }}</p>
                      </td>
                      <td class="row-min">
                          <p >Tiempo Entrega: {{ item.tiempo }} min.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p >Nombre: {{ item.user.name }}</p>
                      </td>
                      <td >
                        <p >Teléfono: {{ item.user.telefono }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="row-min">
                        <p >E-mail: {{ item.user.email }}</p>
                      </td>
                    </tr>
                  </table>
                  <accordion>
                    <group title="Pedidos">
                      <accordion *ngFor='let peds of item.pedidos'>
                        <group title="{{peds.establecimiento}}">
                          <table class="table table-hover">
                            <tr>
                              <td class="row-min">
                                <p >Tiempo preparación: {{ peds.tiempo }} min.</p>
                              </td>
                              <td class="row-min">
                                <p >Subtotal pedido: {{ peds.total|currency }}</p>
                              </td>
                            </tr>
                          </table>
                          <accordion >
                            <group title="Productos">
                              <table class="table table-hover">
                                <tr>
                                  <td>Artículo/Producto</td>
                                  <td>Descripción</td>
                                  <td>Precio</td>
                                  <td>Cantidad</td>
                                  <td>Subtotal</td>
                                </tr>
                                <tr *ngFor='let prod of peds.productos'>
                                  <td>{{ prod.nombre }}</td>
                                  <td>{{ prod.descripcion }}</td>
                                  <td>{{ prod.precio }}</td>
                                  <td>{{prod.cant}}</td>
                                  <td>{{ prod.precio * prod.cant | currency }}</td>
                                </tr>
                              </table>
                            </group>
                          </accordion>
  
                        </group>
                      </accordion>
                    </group>
                  </accordion>
                  
                </div>
              </div>
            </div>
          </ng-container>
          <ngb-pagination
                  [collectionSize]="dataSource2$"
                  [pageSize]="pageSize2"
                  [page]="currentPage5$.value"
                  (pageChange)="currentPage5$.next($event)"
                ></ngb-pagination>
        </div>
      </div>
    </ng-template>


    
  </ngb-tab>
</ngb-tabset>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Mapa</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="row">
        <div class="col-md-12">
          <label for="">Ubicación</label>
          <agm-map 
          [zoom]="zoomMap"
          [latitude]="user.lat"
          [longitude]="user.lng"
          [mapDraggable]="true"
          [streetViewControl]="false"
          [usePanning]="true"
          [streetViewControl]="false"
          [disableDefaultUI]="true"
          [clickableIcons]="false"
          [styles]="styles"
          [mapTypeId]="'roadmap'"
          [zoomControl]="true"
          >
          <agm-marker 
          [latitude]="user.lat" 
          [longitude]="user.lng" 
          [markerDraggable]="true"
          [animation]="'DROP'" [openInfoWindow]="true"
          [iconUrl]="iconMap"
          >
          <agm-info-window [isOpen]="isOpen" class="ion-text-center" [disableAutoPan]="false">
            <h6>Dirección de envío</h6>  
            <p >{{user.direccion}}</p>
          </agm-info-window>
          </agm-marker>
        

          <ng-container *ngFor='let peds of pedidosEstab'>
            <agm-marker 
            [latitude]="peds.latEstab" 
            [longitude]="peds.lngEstab" 
            [markerDraggable]="true"
            [animation]="'DROP'" [openInfoWindow]="true">
            <agm-info-window [isOpen]="isOpen" class="ion-text-center" [disableAutoPan]="false">
              <h6>{{peds.establecimiento}}</h6>
              <p >{{peds.direccionEstab}}</p>
            </agm-info-window>
            </agm-marker>

          </ng-container>
          
        
          </agm-map>
        </div>
      </div>
      
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
    </div>
</ng-template>