.row-min{
    border-top: none;
    padding-top: unset;
    padding-bottom: unset;
}

.proceso-card{
    border: 1px solid #25562C;
    border-top-color: rgb(37, 86, 44);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(37, 86, 44);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(37, 86, 44);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(37, 86, 44);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

}



.pendientes-card{
    border: 1px solid #dae214;
    border-top-color: rgb(218, 226, 20);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(218, 226, 20);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(218, 226, 20);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(218, 226, 20);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}


agm-map {
    // position: relative;
    height: 500px;
    width: 100%;
    // a[href^="http://maps.google.com/maps"]{display:none !important}
    // a[href^="https://maps.google.com/maps"]{display:none !important}
  
    // .gmnoprint a, .gmnoprint span, .gm-style-cc {
    //     display:none;
    // }
    // .gmnoprint div {
    //     background:none !important;
    // }
  }