<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Limite</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <agm-map 
          [zoom]="zoomMap"
          [latitude]="lat"
          [longitude]="lng"
          [mapDraggable]="true"
          [streetViewControl]="false"
          [usePanning]="true"
          [streetViewControl]="false"
          [disableDefaultUI]="true"
          [clickableIcons]="false"
          [styles]="styles"
          [mapTypeId]="'roadmap'"
          [zoomControl]="true"
          (mapReady)="onMapReady($event)"
          >
          
          
        
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  
</div>