<div class="animated fadeIn mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Categorias
          <button class="btn btn-outline-primary" (click)="open(content)" #nuevo>
            Nuevo
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label for="">Buscar:</label>
              <input type="text" class="form-control" (keyup)="onKeyPress($event)" [(ngModel)]="search">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <table
                cdk-table
                [dataSource]="dataOnPage$"
                class="table table-striped table-responsive"
              >
                <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                <!-- <ng-container cdkColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                </ng-container> -->
                <ng-container cdkColumnDef="nombre">
                  <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
                </ng-container>
                <ng-container cdkColumnDef="linkImagen">
                  <th cdk-header-cell *cdkHeaderCellDef>Imagen</th>
                  <td cdk-cell *cdkCellDef="let row">
                    <img *ngIf="row.linkImagen !== null" [src]="row.linkImagen" style="max-width: 168px;" alt="">
                  </td>
                </ng-container>
                <ng-container cdkColumnDef="linkIcono">
                    <th cdk-header-cell *cdkHeaderCellDef>Icono</th>
                    <td cdk-cell *cdkCellDef="let row">
                      <img *ngIf="row.linkIcono !== null" [src]="row.linkIcono" style="max-width: 50%;" alt="">
                    </td>
                  </ng-container>
                <!-- <ng-container cdkColumnDef="created_at">
                  <th cdk-header-cell *cdkHeaderCellDef>Creado</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.created_at }}</td>
                </ng-container>
                <ng-container cdkColumnDef="updated_at">
                  <th cdk-header-cell *cdkHeaderCellDef>Modificado</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.updated_at }}</td>
                </ng-container> -->
                <ng-container cdkColumnDef="opciones">
                  <th cdk-header-cell *cdkHeaderCellDef></th>
                  <td cdk-cell *cdkCellDef="let row">
                    <button
                      class="btn btn-warning"
                      (click)="editData(content, row)"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="deleteData(content, row)"
                    >
                      Eliminar
                    </button>
                  </td>
                </ng-container>
              </table>

              <ngb-pagination
                [collectionSize]="(dataSource$ | async)?.length"
                [pageSize]="pageSize"
                [page]="currentPage$.value"
                (pageChange)="currentPage$.next($event)"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form #categoriaForm="ngForm" (ngSubmit)="onSubmit(categoriaForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Categoria</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input
        type="hidden"
        name="id"
        #id="ngModel"
        [(ngModel)]="categoria.id"
      />
      <div class="row">
        <div class="col-md-12">
          <label for="">Nombres</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            #nombre="ngModel"
            [(ngModel)]="categoria.nombre"
            placeholder="Categoria"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div
            class="dropzone"
            dropZone
            (hovered)="toggleHover($event)"
            (dropped)="startUpload($event)"
            [class.hovering]="isHovering"
          >
            <h3>Subir imagen de Categoría</h3>

            <div class="file">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  (change)="startUpload($event.target.files)"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    o elegir archivo
                  </span>
                </span>
              </label>
            </div>
          </div>

          <div *ngIf="percentage | async as pct">
            <progress class="progress is-info" [value]="pct" max="100" style="width: 100%;">
            </progress>
            {{ pct | number }}%
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="snapshot | async as snap">
            {{ snap.bytesTransferred | fileSize }} of
            {{ snap.totalBytes | fileSize }}

            <div *ngIf="downloadURL | async as url">
              <img [src]="url" style="max-width: 335px;" /><br />
              <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
            </div>

            <button
              (click)="task.pause()"
              class="button is-warning"
              [disabled]="!isActive(snap)"
            >
              Pause
            </button>
            <button
              (click)="task.cancel()"
              class="button is-danger"
              [disabled]="!isActive(snap)"
            >
              Cancel
            </button>
            <button
              (click)="task.resume()"
              class="button is-info"
              [disabled]="!(snap?.state === 'paused')"
            >
              Resume
            </button>
          </div>
          <div *ngIf="!snapshot">

            <div *ngIf="downloadURL | async as url">
              <img [src]="url" style="max-width: 335px;"/><br />
              <a [href]="url" target="_blank" rel="noopener">Descargar</a>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">Guardar</button>
        <button class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
    </div>
  </form>
</ng-template>
