<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Perfil</h3>
    </div>
    <div class="card-body">
      <h3>Nombre: {{ user.name }}</h3>
      <h3>Email: {{ user.email }}</h3>
      <h3>Rol: {{ user.roles[0].name }}</h3>
    </div>
  </div>
  
</div>
<jw-modal id="custom-modal-1">
  <h1>Atención</h1>
  <p>Activa las notificaciones para que puedas recibir pedidos.</p>
  <button (click)="requestAuthorization()" class="btn btn-primary px-4" >Activar notificaciones</button>

</jw-modal>

