<div class="animated fadeIn mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            favorito
            <button class="btn btn-outline-primary" (click)="open(content)" #nuevo>
              Nuevo
            </button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <label for="">Buscar:</label>
                <input type="text" class="form-control" (keyup)="onKeyPress($event)" [(ngModel)]="search">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table
                  cdk-table
                  [dataSource]="dataOnPage$"
                  class="table table-responsive table-striped"
                >
                  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                  <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                  <ng-container cdkColumnDef="ver">
                    <th cdk-header-cell *cdkHeaderCellDef>Ver</th>
                    <td cdk-cell *cdkCellDef="let row">
                      <button
                        class="btn btn-outline-primary"
                        (click)="productosFavoritos(list, row)"
                      >
                        Productos
                      </button>
                    </td>
                  </ng-container>
                  <!-- <ng-container cdkColumnDef="id">
                    <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                  </ng-container> -->
                  <ng-container cdkColumnDef="nombre">
                    <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="created_at">
                    <th cdk-header-cell *cdkHeaderCellDef>Creado</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.created_at }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="updated_at">
                    <th cdk-header-cell *cdkHeaderCellDef>Modificado</th>
                    <td cdk-cell *cdkCellDef="let row">{{ row.updated_at }}</td>
                  </ng-container>
                  <ng-container cdkColumnDef="opciones">
                    <th cdk-header-cell *cdkHeaderCellDef></th>
                    <td cdk-cell *cdkCellDef="let row">
                      <button
                        class="btn btn-warning"
                        (click)="editData(content, row)"
                      >
                        Editar
                      </button>
                      <button
                        class="btn btn-danger"
                        (click)="deleteData(content, row)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </ng-container>
                </table>
                <ngb-pagination
                  [collectionSize]="(dataSource$ | async)?.length"
                  [pageSize]="pageSize"
                  [page]="currentPage$.value"
                  (pageChange)="currentPage$.next($event)"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <form #favoritoForm="ngForm" (ngSubmit)="onSubmit(favoritoForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">favorito</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="id"
          #id="ngModel"
          [(ngModel)]="favorito.id"
        />
        <div class="row">
          <div class="col-md-12">
            <label for="">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="favorito.nombre"
              placeholder="Escriba los nombres del favorito"
              required
            />
          </div>
        </div>
        <br>
        <h3>Seleccione los productos</h3>
        <div class="row">
            <div class="col-md-12">
                <table
                cdk-table
                [dataSource]="pDataOnPage$"
                class="table table-striped"
                style="max-width: 100%;"
              >
                <tr cdk-header-row *cdkHeaderRowDef="pColumns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: pColumns"></tr>
                <ng-container cdkColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef>ID</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
                </ng-container>
                <ng-container cdkColumnDef="nombre">
                  <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
                </ng-container>
                <!-- <ng-container cdkColumnDef="categoria_id">
                  <th cdk-header-cell *cdkHeaderCellDef>categoria</th>
                  <td cdk-cell *cdkCellDef="let row">{{ ((categoriasList|async) | observableFilter:row.categoria_id).nombre }}</td>
                </ng-container> -->
                <ng-container cdkColumnDef="precio">
                  <th cdk-header-cell *cdkHeaderCellDef>Precio</th>
                  <td cdk-cell *cdkCellDef="let row">{{ row.precio  | currency}}</td>
                </ng-container>
                <ng-container cdkColumnDef="disponible">
                    <th cdk-header-cell *cdkHeaderCellDef>Disponible</th>
                    <td cdk-cell *cdkCellDef="let row">{{ (row.disponible) ? 'Si' : 'No' }}</td>
                  </ng-container>
                <ng-container cdkColumnDef="opciones">
                  <th cdk-header-cell *cdkHeaderCellDef>Escoger</th>
                  <td cdk-cell *cdkCellDef="let row">
                    <input type="checkbox" [value]="row.id" (click)="seleccionar(row.id)" [checked]="isInDetalle(row.id)">
                  </td>
                </ng-container>
              </table>
              <ngb-pagination
                [collectionSize]="(pDataSource$ | async)?.length"
                [pageSize]="pageSize"
                [page]="pCurrentPage$.value"
                (pageChange)="pCurrentPage$.next($event)"
              ></ngb-pagination>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Guardar</button>
          <button class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
      </div>
    </form>
  </ng-template>



<ng-template #list let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Categoria</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table
        cdk-table
        [dataSource]="pDataOnPage$"
        class="table table-striped"
        style="max-width: 100%;"
      >
        <tr cdk-header-row *cdkHeaderRowDef="pDColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: pDColumns"></tr>
        <ng-container cdkColumnDef="id">
          <th cdk-header-cell *cdkHeaderCellDef>ID</th>
          <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
        </ng-container>
        <ng-container cdkColumnDef="nombre">
          <th cdk-header-cell *cdkHeaderCellDef>Nombre</th>
          <td cdk-cell *cdkCellDef="let row">{{ row.nombre }}</td>
        </ng-container>
        <!-- <ng-container cdkColumnDef="categoria_id">
          <th cdk-header-cell *cdkHeaderCellDef>categoria</th>
          <td cdk-cell *cdkCellDef="let row">{{ ((categoriasList|async) | observableFilter:row.categoria_id).nombre }}</td>
        </ng-container> -->
        <ng-container cdkColumnDef="disponible">
            <th cdk-header-cell *cdkHeaderCellDef>Disponible</th>
            <td cdk-cell *cdkCellDef="let row">{{ (row.disponible) ? 'Si' : 'No' }}</td>
          </ng-container>
        <ng-container cdkColumnDef="precio">
          <th cdk-header-cell *cdkHeaderCellDef>precio</th>
          <td cdk-cell *cdkCellDef="let row">{{ row.precio | currency }}</td>
        </ng-container>
      </table>
      <ngb-pagination
        [collectionSize]="(pDataSource$ | async)?.length"
        [pageSize]="pageSize"
        [page]="pCurrentPage$.value"
        (pageChange)="pCurrentPage$.next($event)"
      ></ngb-pagination>
    </div>

</ng-template>
