// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.btn-primary {
    background-color: #25562C !important;
    border-color: #25562C !important;
}


.page-item.active .page-link {
    background-color: #25562C !important;
    border-color: #25562C !important;
}

.btn-outline-primary {
    color: #25562C !important;
    border-color: #25562C !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #25562C;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff !important;
    background-color: #25562C !important;
}